	<div class="field_group">
		<%= password_fields.label :password %><br>
		<%= password_fields.password_field :password %>
	</div>
	<div class="field_group">
		<%= password_fields.label :password_confirmation %><br>
		<%= password_fields.password_field :password_confirmation %>
	</div>
	
	<br><br>
