<% provide(:title, @person.name) %>

<h1><%= @person.name %></h1>

<h2>Deed history:

<%= render 'people/person_deeds_list', person_deeds_list: @person_deeds %>

<br>
<div font-size=".8em">[<%= link_to "Show this week only", @person %>]</div>
</div>