<% provide(:title, @person.name) %>

<h1><%= @person.name %></h1>

<h2>Deeds this week (from <%= Date.current.beginning_of_week.strftime("%d/%m/%y") %>):

<%= render partial:'people/person_deeds_list', object: @person_deeds_this_week %>

<a href= <%= @person.id.to_s + "/show_all_deeds" %> >Show deed history</a>
</div>