<% provide(:title, @person.name) %>

<h1><%= @person.name %></h1>

<h2>Deeds this week (from <%= Date.current.beginning_of_week.strftime("%d/%m/%y") %>):

<%= render 'people/person_deeds_list', person_deeds_list: @person_deeds_this_week %>

<br>
<div font-size=".8em">[<a href= <%= @person.id.to_s + "/show_all_deeds" %> >Show deed history</a>]</div>
</div>