<% if object_to_check.errors.any? %> 
	<div id="error_explanation">
		<div class="alert alert-error">
			The form contains <%= pluralize(object_to_check.errors.count, "error") %>:
		</div>
		<ul>
			<% object_to_check.errors.full_messages.each do |msg| %>
			<li><%= msg %></li> 
			<% end %>
		</ul>
		<p>Please correct the error(s) and resubmit the form.</p><br>
	</div> 
<% end %>