@import "bootstrap";

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 20px;
	padding-left: 10px;
}

.click_link {
	font-size: 1.2em;
	padding-top: 10px;
	font-weight: bold;
}

@media (min-height: 600px) {
	body {
		padding-top: 60px;
	}
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

table {
	border: 1;
}

th, td {
	padding: 3px;
	text-align: center;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

.navbar {
	.navbar-inner {
		background-color: #333;
		background-image: none;
	}
}

.field_group {
	padding-top: 20px;
}

.bottom_stuff {
	padding-top: 30px;
}

/* old stuff from Hartl tutorial:;
.sidebar {
	background-color: #FBB;
	background-image: none;
	vertical-align: text-top;
	li {
		color: #B44;
	}
}
*/

/*
 * Sidebar
 */

/* Hide for sub-mobile sizes and iPhones in vertical orientation */
.sidebar {
  display: none;
}

@media (min-width: 480px) {  /* This will show for all iPhones in landscape orientation*/
  .sidebar {
    position: fixed;
    top: 31px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 10px;
    padding-top: 80px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #ecc;
    font-weight: bold;
    font-size: 1.1em;
    color: red;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
@media (min-width: 600px) {
  .nav-sidebar > li > a {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 1.2em;
  }
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding-right: 10px;
  padding-left: 20px;
}
@media (min-width: 480px) {
  .main {
    padding-right: 50px;
    padding-left: 100px;
    padding-top: 20px;
    font-size: 1.1em;
  }
}
@media (min-width: 600px) {
  .main {
    padding-left: 150px;
  }
}
.main .page-header {
  margin-top: 0;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
	margin-top: 20px;
	line-height: 1;
}

h1 {
	font-size: 2em;
	letter-spacing: -1px;
	margin-bottom: 10px;
	text-align: left;
}

h2 {
	font-size: 1.4em;
	letter-spacing: -1px;
	margin-bottom: 6px;
	text-align: left;
	font-weight: normal;
	color: #555;
}

p {
	font-size: 1.1em; line-height: 1.5em;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #ccc;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

/* errors */

#error_explanation {
	color: #f00;
	ul {
		margin: 0 24px 24px 36px;
		font-weight: bold;
	}
}
.field_with_errors {
	@extend .control-group;
	@extend .error;
}