@import "bootstrap";

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 80px;
	padding-left: 20px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

.navbar {
	.navbar-inner {
		background-color: #333;
		background-image: none;
	}
}

/* old stuff from Hartl tutorial:;
.sidebar {
	background-color: #FBB;
	background-image: none;
	vertical-align: text-top;
	li {
		color: #B44;
	}
}
*/

/*
 * Sidebar
 */

/* Hide for sub-mobile sizes (less than an old iPhone) */
.sidebar {
  display: none;
}
@media (min-width: 320px) {  /* This will show for all iPhones */
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    padding-top: 80px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #ecc;
    font-weight: bold;
    font-size: 1.2em;
    color: red;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
@media (min-width: 600px) {
  .nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding-right: 10px;
  padding-left: 30px;
}
@media (min-width: 500px) {
  .main {
    padding-right: 50px;
    padding-left: 50px;
  }
}
.main .page-header {
  margin-top: 0;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
	margin-top: 30px;
	line-height: 1;
}

h1 {
	font-size: 2.5em;
	letter-spacing: -2px;
	margin-bottom: 20px;
	text-align: left;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 10px;
	text-align: left;
	font-weight: normal;
	color: #555;
}

p {
	font-size: 1.1em; line-height: 1.7em;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #ccc;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

/* errors */

#error_explanation {
	color: #f00;
	ul {
		margin: 0 24px 24px 36px;
		font-weight: bold;
	}
}

/***** commented out for now:
.field_with_errors {
	@extend .control-group;
	@extend .error;
}
*********/