<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Activities App", '#', id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", 'people' %></li> 
					<li><%= link_to "Sign in", 'sessions/new' %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
